<!DOCTYPE html> 
<html> 
<title> Payment Karo Bsdk </title> 
<body> 
    <h3>Welcome to Payment Gateway</h3> 
    <form action="payment" method="POST"> 
       <script 
          src="//checkout.stripe.com/v2/checkout.js"
          class="stripe-button"
          data-key="<%= key %>" 
          data-amount="2500" 
          data-currency="inr" 
          data-name="Ankiii" 
          data-description="Beleave In us Our Products" 
          data-locale="auto" > 
        </script> 
    </form> 
</body> 
</html> 